*{

    margin: 0%;
}
body{
    width: 100vw;
    height: 100vh;
}
.backup{
    padding: 30vh;
    background-color: #182747;
}
.backdown{
    padding: 50vh;
    background-color: #AEBDCA;
}
.flexer{
    display: flex;
    width: 60%;
    margin:13rem auto;
    padding: 9em 0;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
    border-radius: 10px;
    position: absolute;
    top: 0;
    left:5%;
    
}
.upper{
   /* background-color: #03202a; */
   padding: 0 50px;
   width: 100%;
   margin: auto;
}
.upper h1{
    color: rgb(225, 162, 45);
    font-size: 40px;
    border-bottom: 2px solid #815B5B;
}
.upper p{
    font-size: 16px;
}
.lower{
    width: 100%;
}
.ceo{
    position: absolute;
    top: 0;
    left: 40%;
    margin-top: 45%;
    display: flex;
    border-radius: 20px;
    width: 60%;
}
.meet{
    background-color: white;
    width: 100%;
}
.meet h1{
    color: rgb(225, 162, 45);
    padding: 10% 0 0 0;
    font-size: 40px;
    margin: 0 1em;
}
.boss{
    background-color: grey;
    width: 50%;
}