.fashion-body {
    background-color: aliceblue;
}
.fashion-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(214, 197, 197, 0.858);
    padding: 0 15px;
    height: 100px;
}
.fashion-right {
    display: flex;
    align-items: center;
    gap: 11rem;
    height: inherit;
}
.fashion-right ul{
    list-style: none;
    display: flex;
}
.fashion-right li {
    margin-right: 4rem;
    font-size: large;
}
.fashion-right h3 {
    background-color: maroon;
    color: white;
    font-weight: 100;
    padding: 15px;
}
.fashion-right .aa{
    text-decoration: none;
}
.fashion-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fashion-left img {
    border-radius: 50%;
}
.fashion-left h2 {
    font-size: 25px;
    color: maroon;
}
.fashion-down {
    /* padding: 7rem 4rem; */
    /* background-image: url(./Assets/perfect\ suit.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 90vh;
}
.fashion-group{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 7rem;
}
#dress {
    position: relative;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.fashion-down #img {
    position: absolute;
    object-fit: cover;
    height: 90vh;
    width: 100%;
    opacity: .2;
}
.fashion-down h1{
    font-size: 3rem;
    color: white;
}
.fashion-group p{
    font-size: 1.7rem;
    position: relative;
    width: 75%;
    color: rgb(225, 216, 216);
}
.fashion-down button {
    padding: 20px;
    border: none;
    background-color: rgb(36, 87, 96);
    color: white;
    box-shadow: rgba(65, 228, 223, 0.07) 0px 1px 1px, rgba(20, 203, 172, 0.07) 0px 2px 2px, rgba(12, 115, 141, 0.07) 0px 4px 4px, rgba(15, 110, 116, 0.07) 0px 8px 8px, rgba(5, 67, 73, 0.07) 0px 16px 16px;
    font-family: 'BioRhyme', 'serif';
    border-radius: 10px;
}
.fashion-content {
    position: relative;
    margin-top: 4.5rem;
}
.fashion-content h1{
    color: rgb(225, 162, 45);
}