body {
    background-color: rgb(216, 204, 181);
}
.with-img {
    background: url(./Assets/leafy.png);
    width: 55vw; 
    height: 70vh;
    margin: 5rem auto;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.9) 0px 2px 8px 0px;
}
.first-div {
    /* border: 1px solid purple; */
    padding: 10px;
    width: 60%; 
    height: 65vh;
    margin: auto;
    display: flex;
    justify-content: center;
}
.img-div {
    position: relative;
    border: 10px solid rgb(137, 100, 6);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.first{
    /* border: 1px solid orangered; */
    padding: 50px;
    width: 50%;
    background-color: black;
    color: whitesmoke;
}
.line {
    border-bottom:  2px solid goldenrod;
    margin-top: 1rem;
    width: 50%;
}
.prof {
    padding-top: 7rem;
}
.second {
    /* border: 1px solid blue; */
    padding: 50px;
    width: 100%;
    background-color: #D9D9D9;
}